<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css">
  <style>
    :root {
    --darkBG: #232B32;
    }
  
    body.inverted {
      background-color: var(--darkBG);
    }
  </style>
</head>
<body class="inverted">
  <div class="ui inverted menu">
    <div class="active item">Agent {{agent["symbol"]}}</div>
    <div class="item"><i class="home icon"></i> {{agent["headquarters"]}}</div>
    <div class="item"><i class="dollar sign icon"></i> {{"{:,}".format(agent["credits"])}}</div>
    <div class="item"><i class="users icon"></i> {{agent["startingFaction"]}}</div>
    <div class="item"><i class="plane icon"></i> {{agent["shipCount"]}}</div>
    </div>
  </div>

  <div class="ui container">
    {% block content %}{% endblock %}
  </div>
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>

  <script src="{{url_for('static', filename='shared_functions.js')}}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>